<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Olav Salhus</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    @RenderSection("css", required: false)

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

    <script>hljs.highlightAll();</script>
    @RenderSection("js", required: false)
</head>
<body>
    <header>
        <nav>
            <a href="Index">About</a> |
            <a href="DumpPageContext">C# reflection</a> |
            <a href="TreeView">TreeView</a> |
            <a href="Sso">Google Single sign on</a>
        </nav>
    </header>
    <hr />
    <main>
        @RenderBody()
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>