@page
@model CloudSandbox.Pages.IndexModel
@using System.Reflection;
@{
    ViewData["Title"] = "Home page";
}

Olav Salhus experiments with C#, ASP.NET and Web development<br />

<a href="https://github.com/olavsalhus" >My GitHub page</a>